#help-notice {
    margin-top: 10px;
}

#help-notice, #pp-sidebar-box {
    background: white;
    border: #9d9d9d 1px solid;
    padding: 0px 20px;
}
.wrap-col-70 {
    flex: 0 0 70%;
    width: 70%;
}
.wrap-col-25 {
    flex: 0 1 25%;
}
.wrap-row {
    display: flex;
    justify-content: space-between;
}
h2.nav-tab-wrapper {
    display: inline-block;
}
div#pp-sidebar-box {
    border: 3px dashed #c5c2c2;
    border-radius: 10px;
    margin-top: 9px;
}
#pp-sidebar-box {
    line-height: 1.5;
    word-spacing: 2px;
}
#pp-sidebar-box img.image {
    width: 100%;
}
.pro-features {
    font-size: 14px;
    font-weight: 500;
}
.pro-tab-content {
    color: #384d48;
    position: relative;
    background: #FFF;
    padding: 20px;
    margin: 20px 0;
    border-radius: 6px;
    box-shadow: 0px 0px 8px -2px rgb(0 0 0 / 30%);
    -webkit-box-shadow: 0px 0px 8px -2px rgb(0 0 0 / 30%);
    -moz-box-shadow: 0px 0px 8px -2px rgba(0,0,0, 0.3);
    -ms-box-shadow: 0px 0px 8px -2px rgba(0,0,0, 0.3);
    -o-box-shadow: 0px 0px 8px -2px rgba(0,0,0, 0.3);
}
a.get_pro_btn {
    margin-top: 20px;
    display: block;
    background: #ff8900;
    padding: 10px 20px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    width: 105px;
    text-align: center;
}
.pp-pro-try {
    background-color: #ff8900 !important;
    border-color: #ff8900 !important;
    outline-color: #ff8900 !important;
}
.pro_container p {
    margin: 0;
    font-size: 14px;
}
a.nav-tab.getpro.nav-tab {
    background: #ffab4a;
    color: white;
    border-color: #ffab4a;
}

input#password_protected_password_new, input#password_protected_password_confirm, input#password_protected_remember_me_lifetime, textarea#password_protected_allowed_ip_addresses {
    width: 50% !important;
}